* {
    margin: 0;
    padding: 0;
    font-family: 'Comforter', cursive;
}

body {
    height: 100vh;
    width: 100%;
    background-image: url("sneg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.prikaz, .forma {
    width: 530px;
    height: 610px;
    padding: 40px;
    background: #272b25;
    color: #ddd;
    margin-top: 55px;
    margin-bottom: 25px;
    box-shadow: 0px 0px 3px 3px #ddd;
}

.forma {
    height: 810px;
}

form {
    text-align: left;
}

form label {
    padding: 5px;
    width: 85%;
}

.forma input {

    box-sizing: border-box;
    border: 0;
    background: #111;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
    text-align: left;
    width: 100%;
    padding: 10px;
}

.forma input:focus {
    box-shadow: 0px 0px 3px 3px #ddd;
}

.main {
    width: 100%;
}

.video_container {
    margin-left: 29%;
    margin-right: 29%;
    text-align: center;

}

.video_container video {
    margin: 0;
    padding: 0;
}

#naslov {
    font-family: 'Comforter', cursive;
    font-size: 24px;
}


.main h1 {
    padding-bottom: 25px;
}


#submit, #obrisi_dugme {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 400;
    border: none;
    outline: none;
    background: black;
    color: #ddd;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    outline: none;
    text-align: center;
}

#submit:hover {
    background: #272b25;
    box-shadow: -6px 6px 0 hsl(100, 6%, 8%);
    cursor: pointer;
}

#obrisi_dugme:hover {
    background: #272b25;
    box-shadow: -6px 6px 0 hsl(100, 6%, 8%);
    cursor: pointer;
}